.md-modal {
	position: fixed;
	left: 50%;
	width: 100vw;
	min-width: 320px;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	&:not(.modal-fixado-topo) {
		top: 50%;
		height: auto;
		transform: translateX(-50%) translateY(-50%);
	}

	&.modal-fixado-topo {
		top: 0%;
		height: 100vh;
		transform: translateX(-50%) translateY(0%);
	}
}

.md-show {
	visibility: visible;
	overflow: auto;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 3;
	opacity: 0;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* conteudo styles */
.md-conteudo {
	color: #fff;
	position: relative;
	margin: 0 auto;
	max-width: 630px;

	> .text-right  {
		display: flex;
		justify-content: flex-end;
	}
}

.md-show ~ .md-overlay {
	background: rgba(12, 25, 45, 0.9);
}

.md-show ~ .container {
	filter: blur(3px);
}

.md-show ~ .container,
 .md-conteudo {
	transition: all 0.3s;
}

// Modal vídeo
.cabecalho-video {
	.titulo {
		font-weight: 900;
		margin: 10px 0 5px 0;
		font-size: 2.7em;
	}

	.subtitulo {
		font-size: 1.7em;
	}
}

#modal {

	.fecha-modal {
		display: none;
	}

	.md-conteudo {
		opacity: 0;
		text-align: center;
		transform: translateY(-10%);

		&.exibe {
			opacity: 1;
			transform: translateY(0);
		}

		&.fixado-topo {
			padding-top: 60px;
			padding-bottom: 60px;
		}

		&__conteudo {
			padding: 1rem;
		}
	}

	&.md-show {
		.fecha-modal {
			display: block;
		}
	}

	.certificado {
		text-align: center;

		.fecha-modal {
			margin: 0 auto;
		}

		.titulo {
			font-weight: 200;
			font-size: 43px;

			strong {
				font-weight: 900;
				color: #3BA19C;
			}
		}

		.subtitulo {
			font-size: 20px;
			max-width: 500px;
			margin: 0 auto 50px auto;
		}

		form {
			color: #ffff;
			padding: 70px 90px 45px 90px;
			background-color: #1B2E40;
		}
	}
}
